/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {
 
}

.thumb {
	margin-top:0px;
}


/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1140px;
}

.container {
	border-bottom: none;
	
}

.nav-margin {
	margin-top:63px !important;
}

.pad-top {
	padding-top: 70px;
}

.pad-bot {
	padding-bottom:70px;
}

.top-bg {
	padding-top:70px;
	
	&:before {
		display:block;
		width:100%;
		position:absolute;
		top:0;
		content:"";
		z-index:-2;
		background:url('../images/container-top-1800x94.jpg') center center repeat-x;
		height:92px;
	}
}

.top-bg-alt {
	padding-top:70px;
	
	&:before {
		display:block;
		width:100%;
		position:absolute;
		top:-10px;
		content:"";
		z-index:-2;
		background:url('../images/sand-bumps-top.gif') center center repeat-x;
		height:92px;
	}
}

.top-bg-grass {
	padding-top:100px;
	
	&:before {
		display:block;
		width:100%;
		position:absolute;
		top:0px;
		content:"";
		z-index:-2;
		background:url('../images/footer-bg.jpg') center center repeat-x;
		height:92px;
	}
}
.bot-bg {
	padding-bottom: 70px;
	&:after {
		display:block;
		width:100%;
		position:absolute;
		bottom:0;
		content:"";
		z-index:-1;
		background:url('../images/container-bottom-1920x170.gif') center;
		height:170px;
		
	}
}

.bot-bg-alt {
	padding-bottom: 70px;
	&:after {
		display:block;
		width:100%;
		position:absolute;
		bottom:0;
		content:"";
		z-index:-1;
		background:url('../images/slider-foreground.gif') center bottom repeat-x;
		height:170px;
	}
}

.bot-bg-grass {
	padding-bottom: 70px;
	&:after {
		display:block;
		width:100%;
		position:absolute;
		bottom:0;
		content:"";
		z-index:-1;
		background: url('../images/footer-bg.jpg') center 14px repeat-x;
		height:170px;
	}
}

.bot-dash {
	border-bottom:2px dashed #b39c7d;
}

.nav-margin {
	margin-top:78px;
}

#scrolling-slides.bot-bg {
	&:after {
	z-index: 4;
	}
}

#scrolling-slides.top-bg {
	padding-top:70px;
	&:before {
		background: url('../images/why-r2f/slides-top-bg-1590x54.gif') center center repeat-x;
		top:51px;
		z-index: 5;
	}
}

#scrolling-slides {
	position: relative;
	z-index: 3;
	background: url('../images/sand-bg.gif');
}

.slide-container  {
	min-height:400px;
}


#logo.secondary {
	margin:0 0 0 40px;
}


/*********************
HEADER STYLES
*********************/

.header {
	position: fixed;
}

.inner-header {

}

	
	#logo {
	  width:40%;
	}

/***************************************
 *Search used in header and other pages
 ***************************************/

#nobtn-search, #other-search {
	position:absolute;
	bottom:-70px;
	right:0;
	
	input {
		width:150px;
		//transition: width ease-in-out 0.5s;
		
		&:focus {
			width:250px;
		//	transition: width 0.5s;
		}
	}
}

#other-search {
	position:relative;
	top:4px;
	display:inline-block;
	float:left;
	input {
		width:200px;
		
		&:focus {
			width:300px;
		}
	}
}

.enter-race {
	bottom:112px;
	.btn {
		font-size:36px;
	}
}

.fences {
	position:relative;
	height:0px;
	&:before, &:after {
		display:block;
		content:"";
		position:absolute;
		width:374px;
		height:151px;
		z-index:2000;
		
	}
	
	&:before {
		bottom:0;
		left:-187px;
		background:url('../images/left-fence.gif');
	}
	
	&:after {
		bottom:0;
		right:-187px;
		background:url('../images/right-fence.gif');
	}
}

.wide-fence {
	position:relative;
	bottom: 0;
	height:0;
	&:after {
		position: absolute;
		display: block;
		content:"";
		width:692px;
		height:151px;
		background: url('../images/wide-fence-692x151.gif') center no-repeat;
		z-index:2001;
		right:0;
		top:-190px;
	}
}

.wide-fence.why {
	bottom:-70px;
}

/*********************
Slider STYLES
*********************/
.slider {
	margin-top:63px;
	background: #4dd2fd;
	position:relative;
	max-height:600px;
	
	&:before {
		display:block;
		content:"";
		position:absolute;
		bottom:0;
		width:100%;
		height:75px;
		background:url('../images/slider-foreground.gif') center;
		z-index:3;
	}
}

// Traffic light pager
.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  display:block;
  bottom:0;
  width:100%;
  z-index:3;
  margin-top: 10px;
  padding-top:13px;
  padding-left:6px;
  margin-bottom:2px;
  text-align: center;
  height:85px;
  background:url('../images/pager-holder-104x85.gif') center bottom  no-repeat;
  }

/*********************
NAVIGATION STYLES
*********************/

//Scrolling navigation (Why Page)
#scrolling-nav.scrolling {
	top:500px;
}

#scrolling-nav.stopped {
	top:3420px;
}

.scrolling-nav-inner {
	display: block;
	height:243px;
	background: url('../images/vid-wooden-board-468x333.gif') no-repeat;
	background-size:contain; 
	z-index: 100;
	
	font-size:70%;
	ul {
		font-family: 'Headline One';
		display: block;
		padding: 27px 0px;
		width:320px;
		height:333px;
		
		li {
			font-size: 26px;
			font-size:1.625em;
			position:relative;
			margin:2px auto 2px 64px;
			padding-left: 15px;
			display:block;
			
			.bullet {
				margin-top:0;
				text-align: center;
				font-size: 36px;
				font-size:2.25rem;
				color: $orange;
				display: block;
				position: absolute;
				left:-44px;
				top:-8px;
				background: $white;
				width:54px;
				height:54px;
				border-radius:27px;
				text-shadow: none;
				display:none;
			}
			
			a {
				color:$white;
				text-shadow: 3px 3px 3px #444;
				text-decoration: none;
			}
		}
		
		li.highlight {
			
			.bullet {
				display:block;
			}
			a { 
			text-shadow:none;
			color:$orange;
			}
		}
	}
}

footer .nav {
	display:block;
	margin:0;
	height:155px;
	text-shadow: 1px 2px 5px #444;
}
.nav {

	font-size: 25px;
	font-size: 1.5625rem;
	
	border-bottom: 0;
	
	position: relative;
	display:table;
	margin: 0 auto;
	border: 0;
	
	li:first-of-type  {
		margin-left: 0px;
	}
	
	li:last-of-type {
		
	}
	li:last-of-type  {
		margin-right: 0px;
	}
	
	li {
		float: left;
		position: relative;
		text-align: center;
		margin: 0 7px;

		a {
			padding: 12px 0px 6px 0px ;
			margin: 0;
			color:$white;
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				color:$white;
				text-decoration: underline;

			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			display: none;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			display: block;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

.log-in-out {
	a {
		/*padding: 3px 15px!important;
		margin-top: 8px !important;
		border-radius:1em;
		border:1px solid $white !important;*/
	}
}

.logged-in .sign-up {
	left:1px;
}

.sign-up {	
	font-size: 30px;
	font-size: 1.875rem;
	left:-7px;
	
	
	
	a {
		box-sizing: border-box;
		display: block;
		position: relative;
		background-color: $white;
		//width:90%;
		padding-left: 20px !important;
		padding-right:20px !important;
		//margin:0 auto !important;
		//padding: 22px 10px 14px 8px;
		text-align: center;
		color:$orange !important;
		text-decoration: none;
		
		&:after {
			position: absolute;
			display: block;
			width:100%;
			height:16px;
			left: 0;
			bottom: -16px;
			z-index: 3000;
			content:"";
			background: url('../images/nav-bar-decor-white.png') center right 1px repeat-x;
			
		}

		&:hover {
			color:$orange;
			text-decoration: underline;
		}
		
		
	}
}

//Firefox hack to position the white triangles on the signup button correctly!
html>/**/body .sign-up, x:-moz-any-link, x:default {
  a {
    &:after {
        background-position:center right 4px;
    }
  }
}

.wooden {
  background: url('../images/wooden-sign-529x433.gif') center center no-repeat;
  min-height:433px;
  background-size:contain;
}

.vid-wooden {
	background: url('../images/vid-wooden-board-468x333.gif') center no-repeat;
	background-size: contain;
}

.vid-wooden .video-container {
	bottom:30px;
}

.pic-wooden, .picture-wooden {
	background: url('../images/pic-wooden-339x294.gif') center no-repeat;
	background-size:cover;
	
	img {
		display: block;
		padding:10%;
		max-height: 294px;
		margin:0 auto;
	}
}

.picture-wooden {
	background-size:contain;
}



/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer {
	background: url('../images/footer-bg.jpg') center repeat-x;
	padding-bottom:0;
}
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

/**********************
 *Active Race Profile
 **********************/

.active-race {
	text-align: left;
	padding-top: 0;
	padding-bottom: 0;
	
	.btn {
		bottom:30px;
	}
}

.active-race.last-on-page, .create-race.last-on-page {
		padding-bottom: 80px;
		
		.btn {
			bottom:110px;
		}
	}
	
/*************************
 *Active Race Page
 *************************/

#active-race-header {

}

#active-race-header #other-search {
	display:block;
	margin:0 auto;
	float:none;
}


#active-race-header, #complete-race-header, #active-race-header2 {
	display: block;
	box-sizing: border-box;
	max-width: 1027px;
	padding: 0;
	margin:0 auto;
	
	
	.info {
		
	}
	
	.btn {
		font-size: 36px;
		font-size: 3.25rem;
		left:400px;
		bottom:-75px;
		}
		
		.headings, .dates {
			width:200px;
			height:24px;
			font-size: 100%;
			margin-left: 0;
			left:0px;
		}
}

#complete-race-header {
	.headings, .dates {
		left:100px;	
	}
}

#race-data .leaderboard {
	margin-bottom: 100px;
}

#profile-excerpt {
	position: relative;
	font-size: 80%;
	padding: 2% 5%;
	min-height: 453px;
	background: url('../images/profile-excerpt-board-371x453.gif') center top no-repeat;
	background-size: contain;
	
	.profile-view {
		text-align: center;
	}
	
	
}

.winner {
	top:-80px;
}

/*************************
 *Create Race Page
 *************************/

#create-race-header {
	margin-top:-80px;
	
	h1 {
		margin-bottom:60px;
	}
	
	#tab_control {
		margin-top:20px;
		margin-bottom:30px;
	}
}

.token {
	text-align:centre;
}

.continue {
	margin-top:30px;
	margin-bottom:120px !important;
}

// Faq page

.faq {
	padding-bottom: 30px;
	
	&:last-child {
		border-bottom: none !important;
		padding-bottom: 70px;
	}
}