.boxShadow {
	box-shadow: 5px 5px 5px #888888;
	
}

#tokenOptions {
	position: relative;
	width: 800px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

#tokenDataGrid {
	position: relative;
	width: 800px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}


#result {
	width: 800px;
	margin-left:auto;
	margin-right:auto;
}

label { display: block; line-spacing: normal; line-height: normal; color: black;}


.error { color: red };

#viewOptions {
	position: relative;
	width: 350px;
}

#mapOptions {
	position: relative;
	width: 350px;
	margin-top: 30px;
}

#cellOptions {
	position: relative;
	width: 350px;
	margin-top: 30px;
}

#cellTokenOptions {
	position: relative;
	width: 350px;
	margin-top: 30px;
}

#paperParent {
	position: absolute;
	left: 400px;
	top: 250px;
	width: 800px;
	height: 800px;
	overflow:scroll;
}

#paperParentAR {
	position: absolute;
	top:0; right:0; bottom:0; left:0;

}


#paperParentAR2 {
	position: relative;
	left: 50px;
	//top:0; right:0; bottom:0; left:0;
	top: 50px;
	width: 80%;
	height: 0;
    padding-bottom: 60%;
	margin: auto;
	overflow:hidden;
	
	div#frame {
	position: absolute;
	z-index: 10;
	top:0; right:0; bottom:0; left:0;
	background: url('../images/squareframe.png') center no-repeat;
	background-size: 100% 100%;
	height: 100%;
	}
}

#mapDataGrid {
	position: relative;
	width: 800px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

#tokenOffsetResults {
	text-align: center;
}
#wpadminbar {
display: none;
}

.nav li.logged-in-nav {
	display: none;
} 
 
body.logged-in .nav li.logged-in-nav {
	display: list-item;
}

#paperParent1 {
	position: relative;
	left: 50px;
	//top:0; right:0; bottom:0; left:0;
	top: 50px;
	width: 80%;
	height: 0;
    padding-bottom: 60%;
	margin: auto;
	overflow:hidden;
	
	div#frame {
	position: absolute;
	z-index: 10;
	top:0; right:0; bottom:0; left:0;
	background: url('../images/squareframe.png') center no-repeat;
	background-size: 100% 100%;
	height: 100%;
	}
}

#paperParentSF {
	position: relative;
	width: 800px;
	height: 800px;
	overflow:scroll;
	display: block;
	margin: auto;
}

#paperParentSF2 {
	position: relative;
	width: 800px;
	height: 800px;
	overflow:scroll;
	display: block;
	margin: auto;
}


#chooseCharacter {
	position: relative;
	width: 350px;
	margin-top: 30px;
}

#chooseRoute {
	position: relative;
	width: 350px;
	margin-top: 30px;
}

#racesDataGrid table, td, th {
	border: 1px solid black;
	border-collapse:collapse;
}

#racesDataGrid th {
	
}

#racesDataGrid {
	width: 1000px;
	margin: auto;
}

#subsDataGrid table, td, th {
	border: 1px solid black;
	border-collapse:collapse;
}

#subsDataGrid th {
	
}

#subsDataGrid {
	width: 1000px;
	margin: auto;
}


#signUp {
	position: relative;
	width: 350px;
	margin-top: 30px;
}

.myhidden {
	display: none;
}

.leaderboard ul li {
    border-bottom: 2px solid #000000;
    padding: 0 1em;
}

.sponser {
	width: 50%;
	height: auto;
	margin: auto;
}

.leaflet-control-zoom-in {
	font-size: 25px;
}

.leaflet-control-zoom-out {
	font-size: 25px;
}

.leaflet-bar a, .leaflet-bar a:hover {
	width: 40px;
	height: 40px;
	line-height: 40px;
}

#leaderboard-search {
	
	input[type=text] {
		font-family:'Headline One';
		font-size:22px;
		font-size:1.375rem;
		text-transform:uppercase;
		padding:4px 4px 2px 35px;
		border:2px solid #2f3025;
		border-radius:1em;
		background:url('../images/Search-Magnify-Glass.gif') no-repeat left 5px center #fff ;
		margin-bottom:5px;
		width:100%;
		
		&:focus {
			outline:none;
		}
	}
}


#leaderboard-search {
	position:relative;
	
	input[type=text] {
		width:150px;
		//transition: width ease-in-out 0.5s;
		
		&:focus {
			width:250px;
		//	transition: width 0.5s;
		}
	}
}

.mypointer {
	cursor: pointer; 
 }
 
#featureImage {
	width: auto;
	height: 150px;
	
}

.weather select {
	background:url("../images/select-box-button-white.gif") no-repeat right $white;
}

.pagebreak {
	page-break-after:always;
}

